                                               Data Science Tools and Ecosystem

                              In this notebook, Data Science Tools and Ecosystem are summarized

                                  Some of the popular languages that Data Scientists use are:

In [3]:
DataScientistLanguages = ['Python', 'MATLAB', 'SQL', 'Scala', 'Julia', 'R']

In [5]:
DataScientistLanguages

['Python', 'MATLAB', 'SQL', 'Scala', 'Julia', 'R']

                              Some of the commonly used libraries used by Data Scientists include

In [7]:
ds_lib = ['Numpy', 'Pandas', 'Matplotlib', 'Scikit-learn', 'Seaborn', 'Beatiful Soup', 'Scrapy']

In [9]:
ds_lib

['Numpy',
 'Pandas',
 'Matplotlib',
 'Scikit-learn',
 'Seaborn',
 'Beatiful Soup',
 'Scrapy']

                                                          Data Science Table Tools

In [27]:
import pandas as pd

In [47]:
DataScience_Tools = ['TensorFlow', 'Scikit-learn', 'KNIME']

In [49]:
type(DataScience_Tools)

list

In [51]:
pd.DataFrame(DataScience_Tools, columns = ['DataScience_Tools'])

  DataScience_Tools
0        TensorFlow
1      Scikit-learn
2             KNIME

                              Below are a few examples of evaluating arithmetic expressions in Python

In [53]:
40 + 40

80

In [55]:
200 - 30

170

In [57]:
1000 / 5

200.0

In [59]:
1000 // 5

200

                            This is a simple arithmetic expression to multiply then and integers

In [61]:
(3*4)+6

18

In [63]:
19+1*5

24

In [67]:
(19+1)*5

100

In [69]:
(10-5)*5

25

                                      This will convert 200 minutes to hours by dividing by 60

In [71]:
minutes = 200
hours = minutes / 60

In [75]:
print(F"{minutes}minutes is equal to {hours:2f}hours")

200minutes is equal to 3.333333hours

                                     List popular languages for Data Science

In [ ]:
Python
SQL
R
Julia
Java
Scala
SAS
MATLAB

                                                     Author Name

In [83]:
Author_Name = 'Ridwan Olatunji'

In [85]:
Author_Name

'Ridwan Olatunji'